# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Pygame assets cache
*.ogg~
*.wav~
*.tmp

# System files
*.swp
